################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BMC_STM32/BMC_STM32.VC.VC.opendb
